<ul class="nav nav-tabs nav-stacked">

  <!-- Queue view -->
  <li menu-id="queue" id="queue-btn">
    <a href="javascript:void(0);">
      <div>
        <div class="ico default">
        </div>
        <div class="title">
          Queue
        </div>
      </div>

      <div class="arrow">
        <div class="bubble-arrow-border"></div>
        <div class="bubble-arrow"></div>
      </div>
    </a>
  </li>
  
</ul>