<!-- Login -->
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4"></div>
		<div class="span4 ">
			<div class="container-fluid m-login-container">
				<div class="page-header">
					<h2>Fitmoo  Admin <small>Login</small></h2>
				</div>

				<form class="form-horizontal" action="">
					<p id="invalid-msg">Username or Password is incorrect</p>
					<p id="blank-val-msg">Please enter Username and Password to login</p>
					<input type="text" placeholder="Enter username" class="span12" id="login-username">
					<input type="password" placeholder="Enter password" class="span12" id="login-password">

          <a  href="javascript:void(0);" type="submit" style="margin-top: 15px" class="btn btn-primary">Login</a>
					
				</form>
			</div>			
		</div>
		<div class="span4"></div>
	</div>
</div>