<ul class="nav nav-tabs nav-stacked">

  <!-- Home -->
  <li menu-id="home" id="home-btn">
    <a href="javascript:void(0);">
      <div>
        <div class="ico home">
        </div>
        <div class="title">
          Home
        </div>
      </div>

      <div class="arrow">
        <div class="bubble-arrow-border"></div>
        <div class="bubble-arrow"></div>
      </div>
    </a>
  </li>

  <!-- Notifications -->
  <li menu-id="notification" id="notification-btn">
    <a href="javascript:void(0);">
      <span class="badge badge-important m-badge-notification"></span>
      <div>
        <div class="ico notification">
        </div>
        <div class="title">
          Notification
        </div>
      </div>

      <div class="arrow">
        <div class="bubble-arrow-border"></div>
        <div class="bubble-arrow"></div>
      </div>
    </a>
  </li>    

  <!-- Facilities -->
  <li menu-id="facilities" id="facilities-btn">
    <a href="javascript:void(0);">
      <div>
        <div class="ico default">
        </div>
        <div class="title">
          Facilities
        </div>
      </div>

      <div class="arrow">
        <div class="bubble-arrow-border"></div>
        <div class="bubble-arrow"></div>
      </div>
    </a>
  </li>

  <!-- Classes -->
  <li menu-id="classes"   id="classes-btn">
    <a href="javascript:void(0);">
      <div>
        <div class="ico default">
        </div>
        <div class="title">
          Classes
        </div>
      </div>

      <div class="arrow">
        <div class="bubble-arrow-border"></div>
        <div class="bubble-arrow"></div>
      </div>
    </a>
  </li>

  <!-- Events -->
  <li menu-id="events" id="events-btn">
    <a href="javascript:void(0);">
      <div>
        <div class="ico default">
        </div>
        <div class="title">
          Events
        </div>
      </div>

      <div class="arrow">
        <div class="bubble-arrow-border"></div>
        <div class="bubble-arrow"></div>
      </div>
    </a>
  </li>

  <!-- Tags -->
  <li menu-id="tags" id="tags-btn">
    <a href="javascript:void(0);">
      <div>
        <div class="ico default">
        </div>
        <div class="title">
          Tags
        </div>
      </div>

      <div class="arrow">
        <div class="bubble-arrow-border"></div>
        <div class="bubble-arrow"></div>
      </div>
    </a>
  </li>

  <!-- Export data view -->
  <li menu-id="export"   id="export-btn">
    <a href="javascript:void(0);">
      <div>
        <div class="ico default">
        </div>
        <div class="title">
          Export
        </div>
      </div>

      <div class="arrow">
        <div class="bubble-arrow-border"></div>
        <div class="bubble-arrow"></div>
      </div>
    </a>
  </li>

  <!-- Photos view -->
  <li menu-id="photos" id="photos-btn">
    <a href="javascript:void(0);">
      <div>
        <div class="ico media">
        </div>
        <div class="title">
          Photos
        </div>
      </div>

      <div class="arrow">
        <div class="bubble-arrow-border"></div>
        <div class="bubble-arrow"></div>
      </div>
    </a>
  </li>

  <!-- Queue view -->
  <li menu-id="queue" id="queue-btn">
    <a href="javascript:void(0);">
      <div>
        <div class="ico default">
        </div>
        <div class="title">
          Queue
        </div>
      </div>

      <div class="arrow">
        <div class="bubble-arrow-border"></div>
        <div class="bubble-arrow"></div>
      </div>
    </a>
  </li>
  
</ul>