<ul class="nav nav-tabs nav-stacked">

  <!-- Home -->
  <li class="active" menu-id="home">
    <a href="javascript:void(0);">
      <div>
        <div class="ico home">
        </div>
        <div class="title">
          Home
        </div>
      </div>

      <div class="arrow">
        <div class="bubble-arrow-border"></div>
        <div class="bubble-arrow"></div>
      </div>
    </a>
  </li>

  <!-- Notifications -->
  <li class="" menu-id="notification">
    <a href="javascript:void(0);">
      <span class="badge badge-important m-badge-notification"></span>
      <div>
        <div class="ico notification">
        </div>
        <div class="title">
          Notification
        </div>
      </div>

      <div class="arrow">
        <div class="bubble-arrow-border"></div>
        <div class="bubble-arrow"></div>
      </div>
    </a>
  </li>    

  <!-- Facilities -->
  <li class="" menu-id="facilities">
    <a href="javascript:void(0);">
      <div>
        <div class="ico default">
        </div>
        <div class="title">
          Facilities
        </div>
      </div>

      <div class="arrow">
        <div class="bubble-arrow-border"></div>
        <div class="bubble-arrow"></div>
      </div>
    </a>
  </li>

  <!-- Classes -->
  <li class="" menu-id="classes">
    <a href="javascript:void(0);">
      <div>
        <div class="ico default">
        </div>
        <div class="title">
          Classes
        </div>
      </div>

      <div class="arrow">
        <div class="bubble-arrow-border"></div>
        <div class="bubble-arrow"></div>
      </div>
    </a>
  </li>

  <!-- Events -->
  <li class="" menu-id="events">
    <a href="javascript:void(0);">
      <div>
        <div class="ico default">
        </div>
        <div class="title">
          Events
        </div>
      </div>

      <div class="arrow">
        <div class="bubble-arrow-border"></div>
        <div class="bubble-arrow"></div>
      </div>
    </a>
  </li>

  <!-- Tags -->
  <li class="" menu-id="tags">
    <a href="javascript:void(0);">
      <div>
        <div class="ico default">
        </div>
        <div class="title">
          Tags
        </div>
      </div>

      <div class="arrow">
        <div class="bubble-arrow-border"></div>
        <div class="bubble-arrow"></div>
      </div>
    </a>
  </li>

  <!-- Export data view -->
  <li class="" menu-id="export">
    <a href="javascript:void(0);">
      <div>
        <div class="ico default">
        </div>
        <div class="title">
          Export
        </div>
      </div>

      <div class="arrow">
        <div class="bubble-arrow-border"></div>
        <div class="bubble-arrow"></div>
      </div>
    </a>
  </li>

  <!-- Photos view -->
  <li class="" menu-id="photos">
    <a href="javascript:void(0);">
      <div>
        <div class="ico media">
        </div>
        <div class="title">
          Photos
        </div>
      </div>

      <div class="arrow">
        <div class="bubble-arrow-border"></div>
        <div class="bubble-arrow"></div>
      </div>
    </a>
  </li>

  <!-- Queue view -->
  <li class="" menu-id="queue">
    <a href="javascript:void(0);">
      <div>
        <div class="ico default">
        </div>
        <div class="title">
          Queue
        </div>
      </div>

      <div class="arrow">
        <div class="bubble-arrow-border"></div>
        <div class="bubble-arrow"></div>
      </div>
    </a>
  </li>
  
</ul>