<div class="container-fluid">
	<section>
		<div class="page-header sub-header">
			<h1>Data Entry Queue</h1>
			<div class="clearfix"></div>
		</div>

		<div class="facilities-container">
			<div class="indicator"></div>

			<table class="table table-striped table-condensed">

				<thead>
					<tr>
						<td colspan="6">
							<div class="paginations">
								<ul>
									<li><a href="javascript:void(0);" class="previous btn"><</a></li>
									<li><a href="javascript:void(0);" class="next btn">></a></li>
									<li><input type="number" class="current-page" value="1">/<span class="total-pages"></span></li>
									<li><a href="javascript:void(0);" class="goto-btn btn" page="first">Go To</a></li>
								</ul>
							</div>
						</td>
					</tr>
				</thead>
				<thead>
					<tr>
						<th>Facility Name</th>
					</tr>
				</thead>
				
				<tbody class="queue-content">
				</tbody>

				<tfoot>
					<tr>
						<td colspan="6">
							<div class="paginations">
								<ul>
									<li><a href="javascript:void(0);" class="previous btn"><</a></li>
									<li><a href="javascript:void(0);" class="next btn">></a></li>
									<li><input type="number" class="current-page" value="1">/<span class="total-pages"></span></li>
									<li><a href="javascript:void(0);" class="goto-btn btn" page="first">Go To</a></li>
								</ul>
							</div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
			
	</section>
</div>