<div class="container-fluid">
	<section>
		<div class="page-header sub-header">
			<h1>Data Management</h1>
			<div class="clearfix"></div>
		</div>
		
		<div class="tags-container">
			<div class="waiting">
				<div class="indicator"></div>
				<p>Please wait...</p>
			</div>
			<div><button href="#export-data-popup" role="button"  class="btn btn-primary">Export</button></div>

		</div>
	</section>
</div>
<!-- Add new Tags popup-->
<div id="export-data-popup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <h3>Click the link to download</h3>
    <div class="clearfix"></div>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
  </div>
</div>