<div class="container-fluid">
	<section>
		<div class="page-header sub-header">
			<h1>Photo De-Selection</h1>
			<div class="clearfix"></div>
		</div>
		
		<div class="photos-container" ondragstart="return false;" ondrop="return false;">
			<div class="indicator"></div>
			<select multiple="multiple" id="photo-selection" style="display: none;"></select>

		</div>
	</section>
</div>