<tr>
	<td>
		<input type="text" class="input-xlarge activity-name" value="" required>
	</td>
	<td class="align-right control-group">
		<input type="text" class="input-xlarge align-right activity-price" value="" required>
		<span class="help-inline error-message">Price must be a valid number</span>
	</td>
	<td class="tr btn-col">
		<a href="javaScript:void(0);" class="btn rm-activity-btn"><i class="icon-remove"></i></a>
	</td>
</tr>