<!-- Admin tool header -->
<header id="header"></header>

<!-- Admin tool sidebar -->
<aside class="sidebar" id="sidebar"></aside>

<!-- Admin tool container -->
<section class="main-container" id="main-container">
	<div class="layout-fluid" id="home"></div>
	<div class="layout-fluid" id="notification"></div>
	<div class="layout-fluid" id="facilities"></div>
	<div class="layout-fluid" id="classes"></div>
	<div class="layout-fluid" id="events"></div>
	<div class="layout-fluid" id="tags"></div>
	<div class="layout-fluid" id="export-data"></div>
	<div class="layout-fluid" id="photos"></div>
	<div class="layout-fluid" id="details"></div>
	<div class="layout-fluid" id="queue"></div>
	<div class="layout-fluid" id="queue-details"></div>
	<div class="layout-fluid" id="event-details"></div>
	<div id="indicator" class="indicator"></div>
</section>