<tr>
	<td class="dayOfWeek">{{dayOfWeek}}</td>
	{{#each times}}
	<td class="startTime">{{startTime}}</td>
	<td class="endTime">{{endTime}}</td>
	<td class="tr btn-col">
		<a href="javascript:void(0);" class="btn remove-calendar"><i class="icon-remove"></i></a>
	</td>
	{{/each}}
</tr>